# Logging config
LOG_DIR=
LOG_FILE=
LOG_LEVEL=
OUTPUT_TO_STREAM=false


# Project directory
ROOT_DIR=


# Launcher_config
USER_WIN_NAME=
USER_REACH_STRING=
USER_STEAM_LOC_INT=


# Location defaults
STEAM_INSTALL_LOC='C:\program files (x86)\steam'
HALO_MCC_INSTALL_LOC='${STEAM_INSTALL_LOC}\steamapps\common\Halo The Master Chief Collection'
REACH_MCC_INSTALL_LOC='${HALO_MCC_INSTALL_LOC}\haloreach'
USER_LOCAL_FILES_LOC='C:\Users\${USER_WIN_NAME}\AppData\LocalLow\MCC\LocalFiles'
HOTRELOAD_DIR_LOC='C:\Users\${USER_WIN_NAME}\AppData\LocalLow\MCC\Temporary\HaloReach\HotReload'
STANDARD_VARIANTS_LOC='${STEAM_INSTALL_LOC}\steamapps\common\Halo The Master Chief Collection\haloreach\game_variants'
HOPPER_VARIANTS_LOC='${STEAM_INSTALL_LOC}\steamapps\common\Halo The Master Chief Collection\haloreach\hopper_game_variants'

PERSONAL_VARIANTS_LOC_1='C:\Users\${USER_WIN_NAME}\AppData\LocalLow\MCC\LocalFiles'
PERSONAL_VARIANTS_LOC_2='${USER_REACH_STRING}\HaloReach\GameType'
PERSONAL_VARIANTS_LOC=
